.nav-bar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: 1080px;
    width: 270px;
    left: -1px;
    top: 0px;
    border-radius: 0px;
}

nav a:not(:first-child) {
    margin: 10px;
}
nav .active {
    background: rgba(29, 185, 84, 0.15);
    border-radius: 10px;
    height: 55px;
    width: 210px;
}
nav {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.logo {
    width: 109px;
    height: 60px;
}
.home {
    height: 21.596879959106445px;
    width: 20.18400001525879px;
    left: 55px;
    top: 136px;
    border-radius: 0px;
}
.browse {
    height: 21.596879959106445px;
    width: 20.18400001525879px;
    left: 55px;
    top: 136px;
    border-radius: 0px;
}
.liked-songs {
    height: 21.596879959106445px;
    width: 20.18400001525879px;
    left: 55px;
    top: 136px;
    border-radius: 0px;
}
