header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    .loggedin-user {
        background-color: $clr1;
        padding: 2px 8px;
        border-radius: 1em;
        align-self: flex-end;
        color: whitesmoke;
        span {
            background-color: $clr2;
            padding: 4px;
            margin: 10px;
            border-radius: 50%;
        }
    }
}

nav a:not(:first-child) {
    margin: 10px;
}
nav .active {
    color: $clr1;
}
nav {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.logo {
    width: 109px;
    height: 60px;
}
.home {
    height: 21.596879959106445px;
    width: 20.18400001525879px;
    left: 55px;
    top: 136px;
    border-radius: 0px;
}
.browse {
    height: 21.596879959106445px;
    width: 20.18400001525879px;
    left: 55px;
    top: 136px;
    border-radius: 0px;
}
.liked-songs {
    height: 21.596879959106445px;
    width: 20.18400001525879px;
    left: 55px;
    top: 136px;
    border-radius: 0px;
}

