* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr1;
    color: $clr6;
}

html {
    font-family: Rubik;
    line-height: 1.6;
    color: $clr2;
}

body {
    font-size: rem(18px);
    margin: 0;
}

section {
    padding: 5px;
}

img {
    width: 100%;
}



a {
    text-decoration: none;
}
